div#deliveron-flex-aligner
{
    display: flex;
    margin-top:15px;
    margin-bottom:15px;

    &.placement-right
    {
        justify-content: flex-end;
    }

    &.placement-center
    {
        justify-content: center;
    }
    
    div#deliveron-container
    {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        &.placement-top, &.placement-bottom
        {
            align-items: flex-start;

            &.placement-top
            {
                flex-direction: column;
            }

            &.placement-bottom
            {
                flex-direction: column-reverse;
            }
        }

        &.placement-right
        {
            flex-direction: row-reverse;
        }

        label#deliveron-label
        {
            display: block;
            padding: 0;
            margin: 0;

            $padding: 7px;

            &.placement-right  
            {
                padding-left: $padding;
            }

            &.placement-left
            {
                padding-right: $padding;
            }

            &.placement-top, &.placement-bottom
            {
                &.text-align-right
                {
                    width: 100%;
                    text-align: right;
                }

                &.text-align-left &
                {
                    text-align: left;
                }
            }
        }

        input#deliveron-picker
        {
            width: auto;
            min-width: 240px;
            display: block;
            margin: 0;
        }
    }
}