div#deliveron-container
{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    p#deliveron-label
    {
        padding-right:7px;
    }

    input#deliveron-picker
    {
        width: auto;
        min-width: 240px;
        display: block;
    }
}
